<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>


<script>

$(document).ready(function () {

    keys = Object.keys(sessionStorage);
    for(key of keys) {

        $("#keys").prepend(
            `${key}: ${sessionStorage.getItem(key)}`
        );
        console.log(`${key}: ${sessionStorage.getItem(key)}`);
    }

    options = {
        hour: "2-digit",
        minute: "2-digit",
        second: "2-digit",
        hour12: false,
    };

    count = 0
    socket = io.connect();

    socket.once("my_response", function (my_response) {
        $("#count").append(my_response.count);
    });

    socket.on("entrance", function (entrance) {
        keyperson = (++count + ": " + new Date().toLocaleString("en-US", options) + ", ")
        person = (" " + entrance.email + ", ")
        $("#entrance").prepend(
            person
        );
        sessionStorage.setItem(entrance.email, keyperson);
    });


    socket.on("exit", function(exit) {
        $("#exit").prepend(" " + exit.user + ",");
        sessionStorage.removeItem(exit.user);
    });

    socket.on("connect", function () {
        socket.emit(
            "my_event", {data: "I'm connected..!"}
        );
    });

    socket.on("disconnect", function () {
        $("#log").append(
            "<li class='list-group-item list-group-item-danger'>" + "Disconnected.." + "<time class='ms-2'>" + new Date().toLocaleString("en-US", options) + "</time>" + "</li>"
        );
    });
    socket.on("my_response", function (msg) {
        $("#log").append(
            "<li class='list-group-item list-group-item-success'>" + "Received: " + msg.data + "<time class='ms-2'>" + new Date().toLocaleString("en-US", options) + "</time>" + "</li>"
        );
    });

    $("form#broadcast").submit(function (event) {
        socket.emit("my_broadcast_event", {
            data: $("#broadcast_data").val(),
            user: $("#token").val(),
        });
        $("#broadcast_data").val("").focus();
        return false;
    });

    $("form#join").submit(function (event) {
        socket.emit("join", { room: $("#join_room").val() });
        return false;
    });
    $("form#leave").submit(function (event) {
        socket.emit("leave", { room: $("#leave_room").val() });
        return false;
    });
    $("form#send_room").submit(function (event) {
        socket.emit("my_room_event", {
            room: $("#room_name").val(),
            data: $("#room_data").val(),
        });
        return false;
    });
    $("form#close").submit(function (event) {
        socket.emit("close_room", { room: $("#close_room").val() });
        return false;
    });

    $("form#disconnect").submit(function (event) {
        socket.emit("disconnect_request");
        return false;
    });

});
</script>

<script>
$('html, body').animate({scrollTop: $("#target").offset().top}, 2000);
</script>

<script>
$(function() {
    $('#upload-btn').click(function() {
        form_data = new FormData($('#send-img')[0]);
        $.ajax({
            type: 'POST',
            url: '/static/upload-chat',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                console.log('Success!');
            },
        });
    });
});
</script>
